<div class="row">
    <div class="col-xs-4"></div>
    <form #f="ngForm">
        <div class="col-xs-4">
            <input type="email" class="form-control" [(ngModel)]="emailId" name="email" id="email" required
                placeholder="Please Enter Your Email Id" [disabled]="this.search.isLoading"><br>
            <input type="password" [disabled]="this.search.isLoading" class="form-control" [(ngModel)]="password"
                minlength="5" name="password" ngModel required placeholder="Please Enter Your Password"><br>
            <input type="password" [disabled]="this.search.isLoading" class="form-control" [(ngModel)]="cpassword"
                minlength="5" name="cpassword" ngModel required placeholder="Please Enter Your Password"><br>

            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <button class="btn btn-primary form-control" [disabled]="!f.valid" (click)="onSignUp()"
                    type="button">SignUp</button>
            </div>
        </div>

    </form>

</div>